@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

body,
html {
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    color: #c9b8a5;
}

body {
    background: url(./images/background1.png) no-repeat center center fixed;
    background-size: cover;
}

.lightmode {
    background: url(./images/background2.png) no-repeat center center fixed;
    background-size: cover;
}

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffa;
    border: 2px solid #000a;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#theme-switch img:last-child {
    display: none;
}

.lightmode #theme-switch img:first-child {
    display: none;
}

.lightmode #theme-switch img:last-child {
    display: inline;
}

header {
    margin-top: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > img {
    width: 8em;
    height: 8em;
    border-radius: 100%;
    border: 2px solid #fffa;
    backdrop-filter: blur(5px) saturate(260%) contrast(180%);
    -webkit-backdrop-filter: blur(5px) saturate(260%) contrast(180%);
    box-shadow: rgb(195, 132, 59 / 30%) 0px 2px 80px 0px;
}

header > h1 {
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    border-radius: 1em;
    background-color: #fffa;
    backdrop-filter: blur(4px) saturate(260%) contrast(180%);
    -webkit-backdrop-filter: blur(4px) saturate(260%);
    color: #222;
    padding: 0.3em 0.6em;
    border: 2px solid #000a;
}

header > h2 {
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 1em;
    color: #222;
    background-color: #fffa;
    backdrop-filter: blur(4px) saturate(260%) contrast(180%);
    -webkit-backdrop-filter: blur(4px) saturate(260%);
    padding: 0.3em 0.6em;
    border: 2px solid #000a;
}

ul {
    box-sizing: border-box;
    list-style: none;
    margin: 0 auto;
    padding: 2em;
    max-width: 480px;
}

ul > li {
    background-color: #fffa;
    backdrop-filter: blur(4px) saturate(260%) contrast(180%);
    -webkit-backdrop-filter: blur(4px) saturate(260%) contrast(180%);
    border-radius: 10em;
    padding: 1em;
    margin: 1.4em 0;
    text-align: center;
    box-shadow: rgb(195, 132, 59 / 30%) 0px 2px 80px 0px;
    border: 2px solid #000a;
}

ul > li > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

a {
    color: black;
    text-decoration: none;
}